<div class="changelog">
    <div class="changelog-header">
        <strong>Changelog</strong>
    </div>
    <div class="changelog-body">
        <div class="changelog-release">
            <div class="changelog-release-header">
                <strong>v.1.4.6</strong> <i>(23.06.2022)</i>
            </div>
            <div class="changelog-list">
                <div>Portuguese translation added.</div>
            </div>
        </div>
        <div class="changelog-release">
            <div class="changelog-release-header">
                <strong>v.1.4.5</strong> <i>(29.04.2022)</i>
            </div>
            <div class="changelog-list">
                <div>Ukrainian translation added.</div>
            </div>
        </div>
        <div class="changelog-release">
            <div class="changelog-release-header">
                <strong>v.1.4.4</strong> <i>(27.09.2021)</i>
            </div>
            <div class="changelog-list">
                <div>Improved system of importing/exporting settings and styles.</div>
            </div>
        </div>
        <div class="changelog-release">
            <div class="changelog-release-header">
                <strong>v.1.4.3</strong> <i>(09.06.2021)</i>
            </div>
            <div class="changelog-list">
                <div>Added German translation and installer for mac.</div>
            </div>
        </div>
        <div class="changelog-release">
            <div class="changelog-release-header">
                <strong>v.1.4.2</strong> <i>(03.04.2021)</i>
            </div>
            <div class="changelog-list">
                <div>French translation added.</div>
            </div>
        </div>
        <div class="changelog-release">
            <div class="changelog-release-header">
                <strong>v.1.4.1</strong> <i>(05.09.2020)</i>
            </div>
            <div class="changelog-list">
                <div>Bugfixes and improvements to Style Folders.</div>
            </div>
        </div>
        <div class="changelog-release">
            <div class="changelog-release-header">
                <strong>v.1.4.0</strong> <i>(31.08.2020)</i>
            </div>
            <div class="changelog-list">
                <div>Added ability to group styles into folders.</div>
                <div>Added ability to scale font size which allows to easily adjust size of pasted text to any scans.</div>
                <div>Extension actions can now apply to multiple selected layers.</div>
            </div>
        </div>
        <div class="changelog-release">
            <div class="changelog-release-header">
                <strong>v.1.3.2</strong> <i>(11.07.2020)</i>
            </div>
            <div class="changelog-list">
                <div>Added buttons which allow to change the font size of the current layer while keeping the center of the text block.</div>
            </div>
        </div>
        <div class="changelog-release">
            <div class="changelog-release-header">
                <strong>v.1.3.1</strong> <i>(30.06.2020)</i>
            </div>
            <div class="changelog-list">
                <div>Added option to change the autoleading percentage in the style settings.</div>
            </div>
        </div>
        <div class="changelog-release">
            <div class="changelog-release-header">
                <strong>v.1.3.0</strong> <i>(25.06.2020)</i>
            </div>
            <div class="changelog-list">
                <div>Significant performance boost.</div>
                <div>Extension is no longer littering the Photoshop history.</div>
            </div>
        </div>
    </div>
</div>