<div class="changelog">
    <div class="changelog-header">
        <strong>Changelog</strong>
    </div>
    <div class="changelog-body">
        <div class="changelog-release">
            <div class="changelog-release-header">
                <strong>v.1.3.2</strong> <i>(11.07.2020)</i>
            </div>
            <div class="changelog-list">
                <div>Added buttons which allow to change the font size of the current layer while keeping the center of the text block.</div>
            </div>
        </div>
        <div class="changelog-release">
            <div class="changelog-release-header">
                <strong>v.1.3.1</strong> <i>(30.06.2020)</i>
            </div>
            <div class="changelog-list">
                <div>Added option to change the autoleading percentage in the style settings.</div>
            </div>
        </div>
        <div class="changelog-release">
            <div class="changelog-release-header">
                <strong>v.1.3.0</strong> <i>(25.06.2020)</i>
            </div>
            <div class="changelog-list">
                <div>Significant performance boost.</div>
                <div>Extension is no longer littering the Photoshop history.</div>
            </div>
        </div>
    </div>
</div>