---
---

@import "{{ site.theme }}";

.typertools-page {
  HEADER IMG {
    margin: 0 0 20px;
  }
  .downloads {
    LI {
      border: none;
      width: 100%;
    }
    A {
      height: 32px;
      padding-top: 8px;
    }
  }
  .changelog {
    border: 1px solid #e5e5e5;
    border-radius: 6px;
    line-height: 1.2;
    font-size: 12px;
  }
  .changelog-header {
    border-bottom: 1px solid #e5e5e5;
    padding: 10px 10px 5px;
  }
  .changelog-list {
    padding: 5px 10px 10px 20px;
    DIV {
      position: relative;
    }
    DIV::before {
      position: absolute;
      content: '•';
      left: -10px;
    }
    DIV + DIV {
      margin-top: 3px;
    }
  }
  SECTION {
    CODE {
      background: #f8f8f8;
      border-radius: 5px;
      border: 1px solid #e5e5e5;
      padding: 2px 4px;
    }
    HR {
      margin: 20px 0;
    }
  }
  FOOTER P {
    margin-bottom: 5px;
  }
}

