<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="description" content="{{ site.description }}">
    <title>{{ site.title }} | {{ site.description }}</title>

    <meta property="og:title" content="{{ site.title }}" />
    <meta property="og:site_name" content="{{ site.title }}" />
    <meta property="og:description" content="{{ site.description }}" />
    <meta property="og:url" content="{{ "/" | absolute_url }}" />
    <link rel="canonical" href="{{ "/" | absolute_url }}" />

    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="typertools-page wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>
        <p>{{ site.description | default: site.github.project_tagline }}</p>
        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}
        {% if site.download_url %}
          <ul class="downloads">
            <li>
              <a href="{{ site.download_url | relative_url }}" onclick="gtag('event', 'click_download');">
                <strong>Download ZIP</strong> 
                <span>v.{{ site.app_version | default: "1.0.0" }}</span>
              </a>
            </li>
          </ul>
        {% endif %}
        {% include changelog.html %}
        <p>Developed by <a href="{{ site.author_url }}" target="_blank">{{ site.author_name }}</a> <i>(<a href="{{ site.source_url }}" target="_blank">source code</a>)</i></p>
      </header>

      <section>
        {{ content }}
      </section>
    </div>

    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
    {% if site.google_analytics %}
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', '{{ site.google_analytics }}');
    </script>
    {% endif %}
  </body>
</html>
